{% extends "group0/base.html" %}

{% block t_note %}
Instruction: In the model test, we have tried to build the linear regression model
                    with independent variables:
                    Height (X1) Weight (X2) and Hair Length (X3).
                    The idea is similar in this experiment. You will construct a linear regression
                    model given 8 independent variables (X1...X8). You could explore them with the left two blocks.
                    <b>AI system will assist you in constructing the model,</b> it will give you feedback
                    based on your model selections.
                    Eventually, you would need to choose the variables
                    that you'd like to include in this model and sumbit it. Good luck!
{% endblock %}