{% extends "task/task.html" %}

{%  load static %}

{% block extra_css %}
    <link rel= "stylesheet" href="{% static 'task/style.css' %}">
    <link rel= "stylesheet" href="{% static 'task/style_group0.css' %}">
{% endblock %}

{%  block content %}
    {%  include 'task/components/t-note.html' %}

    {%  include 'task/components/vis1.html' %}

    {% include 'task/components/vis2.html' %}

    {%  include 'task/components/box-tutorial.html' %}

    {% include 'task/components/box-model.html' %}
    
    {%  include 'task/components/popup-submit.html' %}

{%  endblock %}