{% extends 'base.html' %}

{%  load static %}

{% block content_title %}
{% endblock %}

{% block script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script>let data_file="{% static 'task/data.json'%}"</script>
    {% csrf_token %}
    <script>
    const csrf_token = document.querySelector('[name=csrfmiddlewaretoken]').value;
    let url_log="{% url 'user_action' user_id=user_id group_id=group_id %}";
    let group_id = {{ group_id | safe}};
    </script>
    <script>let data = JSON.parse("{{ data | escapejs}}");</script>
    <script>console.log(data);</script>
    <script src="{% static 'task/script.js' %}"></script>
{% endblock script %}
