.box {
      grid-template-rows: 120px auto auto;
}

.title{
    vertical-align: bottom;
}

.title-note-container {
  margin: 50px 10% 0;
}

.title-note p{
  text-align: center;
  line-height: 0.5;
}

.questionnaire{
    margin: 30px 20%;
}

.questionnaire ul {
    padding: 0;
    list-style: none;
}