{% extends 'base.html' %}

{% load static %}

{% block extra_css %}
    <link rel= "stylesheet" href="{%  static 'pre_questionnaire/style.css' %}">
{%  endblock %}

{% block content_title %}
    <div class = "title name">Demographic Info Questionnaire</div>
{% endblock %}

{%  block content %}
    <div class = "box-one">
          <form class = "questionnaire" action="{% url 'pre_questionnaire' user_id=user_id%}" method="post">
              {% csrf_token %}
              {{ form }}
              <input class = "submitbtn" type="submit" value="Next">
          </form>
        </div>
{%  endblock %}
