.grid-parent{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 330px 380px;
}

.box-title{
    grid-column: span 2;
}

.content{
    display: grid;
    grid-template-columns: 2fr 3fr;
}

