.grid-parent{
    grid-template-rows: auto 350px 390px;
}

.top{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.bottom{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.content{
    display: grid;
    grid-template-columns: 2fr 3fr;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: auto;
    margin-bottom: auto;
    background-color: #fcf2d9;
}

.box-ai{
    background-color: white;
    text-align: center;
    display: grid;
    grid-template-rows: 50px 40px auto 30% ;
    gap: 10px;
}

.ai-container-btn-feedback {
  display: none;
}

.ai-container-msg{
    width: 75%;
    height:35%;
    margin: 5px auto;
    background-color:rgb(255, 147, 55);
    padding: 5%;
    text-align: center;
    color: white;
    position: relative;
    border-radius: 2px;
  display: table;
}

.ai-msg {
  display: table-cell;
  vertical-align: middle;
}

.ai-container-msg:before{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 25px solid rgb(255, 147, 55);
    border-top: 10px solid rgb(255, 147, 55);
    border-bottom: 25px solid transparent;
    left: -6%;
    top: 6px;
    }

.ai-container-btn-new .btn {
  background-color: #04AA6D;
  color: white;
  padding: 5%;
  border: none;
  cursor: pointer;
  width: 60%;
  margin-bottom:2px;
  opacity: 0.8;
  height: auto;
  border-radius: 2px;
}

.ai-container-btn-new .btn:hover {
  opacity: 1;
}

.ai-container-btn-feedback .btn {
  color: white;
  padding: 5%;
  border: none;
  cursor: pointer;
  width: 30%;
  margin-left:2px;
  margin-bottom:2px;
  opacity: 0.8;
  height: auto;
  border-radius: 2px;
}

.ai-container-btn-feedback .yes{
  background-color: #04AA6D;
}

.ai-container-btn-feedback .no {
  background-color: red;
}

.ai-container-btn-feedback .btn:hover {
  opacity: 1;
}

.ai-popup-feedback-container {
  display: grid;
  grid-template-rows: 130px auto;
  margin-top: 10%;
  margin-left: 15%;
  margin-right: 15%;
  height:100%;
}

.popup .confirm {
  background-color: red;
  float: right;
}

.popup .cancel {
  background-color: white;
  color: black;
  border: 2px solid #f1f1f1;
  float: left;
}

.popup-tutorial {
  display: none;
  position: fixed;
  transform: translate(-50%, 0%);
  bottom: 3%;
  left:50%;
  border: 2px solid #f1f1f1;
  z-index: 9;
  width: 85%;
  height:75%;
  background-color: white;
  border-radius: 2px;
}

.popup-tutorial-container {
  margin: 2%;
  width:100%;
  height:100%;
}

.popup-tutorial .pdf-container {
  width:96%;
  height:80%;
  margin-bottom: 5px;
}

.popup-tutorial-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 96%;
  margin-bottom:2px;
  opacity: 0.8;
  height:5%;
}

.popup-tutorial-container .cancel {
  background-color: red;
}

.popup-tutorial-container .btn:hover, .open-button:hover {
  opacity: 1;
}
