.grid-parent{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
}

.content{
    display: grid;
    grid-template-columns: 2fr 3fr;
}

.box-two {
    background-color: white;
    gap: 5px;
    padding: 5%;
}

.box-title{
  display: grid;
  grid-template-rows: 50px auto;
  grid-column: span 2;
}

.title-note-container {
  margin: 10px 40px;
}


.img-container {
    position: relative;
}

.scatter-image-top{
    position: absolute;
    bottom: 0;
    margin: auto;
    width:100%;
}

.scatter-image-bottom{
    position: absolute;
    top: 0;
    margin: auto;
    width:100%;
}

.box-one{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: white;
    display: grid;
    gap: 5px;
}

.form{
    gap: 5px;
}

.questionnaire ul {
    padding: 0;
    list-style: none;
}