.box {
      grid-template-rows: 120px auto;
}

.title{
    vertical-align: bottom;
}

.consent-form{
    margin: 30px 20%;
}

#name{
    width: 200px;
}
#city{
    width: 200px;
}
#date{
    width: 200px;
}

.consent-form ul {
    padding: 0;
    list-style: none;
}