{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        {% if group_id == 2 %}
            <link rel= "stylesheet" href="{% static 'task/style_group2.css' %}">
        {% else %}
            <link rel= "stylesheet" href="{% static 'task/style.css' %}">
        {% endif %}
        <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}">
        <title>Aalto Experiment</title>
        <style></style>
    </head>
    <body>
        <div class="grid-parent">
            <div class = "title name">Build the model</div>
            {% block content %}
            {%  endblock %}
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
        <script>let data_file="{% static 'task/data.json'%}"</script>
        {% csrf_token %}
        <script>
        const csrf_token = document.querySelector('[name=csrfmiddlewaretoken]').value;
        let url_log="{% url 'user_action' user_id=user_id group_id=group_id %}";
        let group_id = {{ group_id }};
        let init_rec_item = "{{ init_rec_item }}";
        </script>
        <script src="{% static 'task/script.js' %}"></script>
    </body>
</html>