{% extends 'base.html' %}

{% load static %}

{% block extra_css %}
    <link rel= "stylesheet" href="{%  static 'modeling_test/style.css' %}">
{%  endblock %}

{%  block content %}
<div class = "box box-title">
    <div class="title-container">
            <div class="title">Modeling test</div>
    </div>
    <div class="title-note-container">
        <div class="title-note">
            {% if after %}
                <p style="text-align: center;">This is the same modelling test as before. Based on what you have learnt, please update your answer.</p>
            {%  else %}
                <p>This modelling test is for understanding your background on Linear Regression Modelling
                and for assessing our teaching tool.</p><p> It is okay to make mistakes. Please don't be stressed and
                just choose your ideal options. And please don't come back to this page to change your answer.
                We will come to the same test again later.</p>
            {% endif %}
        </div>
    </div>
</div>
<div class = "box-one">
    <div class="img-container"><img class ="scatter-image-top" src="{%  static 'modeling_test/PVHeight.png' %}" alt="Points VS Height"></div>
    <div class="img-container"><img class ="scatter-image-top" src="{%  static 'modeling_test/PVWeight.png' %}" alt="Points VS Weight"></div>
    <div class="img-container"><img class ="scatter-image-bottom" src="{%  static 'modeling_test/PVHair.png' %}" alt="Points VS Hair length"></div>
    <div class="img-container"><img class ="scatter-image-bottom" src="{%  static 'modeling_test/WVH.png' %}" alt="Weight VS Height"></div>
</div>

<div class = "box-two">
    <p>A basketball coach is selecting players.
        The relationship between
    </p>
    <ul>
    <li>players height (x1) and points they gain (y), <br>
         <li>players' weight (x2) and game points (y),<br>
         <li>players' hair length (x3) and game points (y),<br>
         <li>players' height(x1) and weight (x2)
    </ul>
        are shown in the pictures on the right.<br>
        Which of the following model would you like to choose? <br>
        Please also specify the reason for your choice. <br>
        (Could select one or multiple choices) <br>

    <form class="questionnaire" action="{% url 'modeling_test' user_id=user_id after=after%}" method="post">
        {% csrf_token %}
        {{ form }}
        <p></p>
        <button type="submit">Next</button>
    </form>
</div>
{%  endblock %}
