<div class = "box-var_c">
    <div class = "subtitle">Variable Correlation Exploration</div>
    <div class = "note">This session is for exploring the relationship between two dependent variables.</div>
    <div class = "content-var_c">
        <div class="vbar"><select class="selectbox" id="variable-two" size=8 style="width:80px;"></select>   </div>
        <div class="vbar"><select class="selectbox" id="variable-three" size=8 style="width:80px;"></select></div>
        <div class="chart-c" id="chart-container-two"></div>
    </div>
</div>
