<div class = "box-var-c">
    <div class = "subtitle">Variable Correlation Exploration</div>
    <div class = "note">This session is for exploring the relationship between two dependent variables.</div>
    <div class = "content-var-c">
        <div class="vbar"><label for="var-c-x"></label><select class="selectbox" id="var-c-x" size=8 style="width:80px;"></select>   </div>
        <div class="vbar"><label for="var-c-y"></label><select class="selectbox" id="var-c-y" size=8 style="width:80px;"></select></div>
        <div class="chart-c" id="chart-container-two"></div>
    </div>
</div>
