<div class="box-model">
    <div class="subtitle">Model Selection</div>
    <div class = "note-container">
        <div class="note">
            Please choose the variables to be included in the model by
            selecting it and clicking "<<" to move it to the left box and ">>" for unselecting.
            {%  if group_id > 0 %}
                AI would give you advice based on your selection, and please submit your final choice at last.
            {%  endif %}
        </div>
    </div>
    <div class="container">
        <div class="model-left">
            <p style="font-size:80%">Selected Variable</p>
            <label for="leftValues"></label><select id="leftValues" size="5"></select>
        </div>
        <div class="arrow">
            <input type="button" id="btnLeft" value="&lt;&lt;" />
            <input type="button" id="btnRight" value="&gt;&gt;" />
        </div>
        <div class="model-right">
            <p style="font-size:80%">Variable Pool</p>
            <label for="rightValues"></label><select id="rightValues" size="4"></select>
        </div>
    </div>
    <form action="{%  url 'task' user_id=user_id group_id=group_id %}" method="post" id="submit-form">
    {% csrf_token %}
        <button class="button-submit" type="submit" id="button-submit" >Submit</button>
    </form>
</div>