<div class="box box-ai">
    <div class="title-container">
        <div class="subtitle">Assistance Advice</div>
    </div>
    <div class = "note" id = "note_test">This session is for showing recommendations from AI.</div>
    <div class = "ai-container-msg">
        <div class="ai-msg" type="text" id = "recommendation-text">
        </div>
    </div>
    {#    <div class = "chart-c" id="chart-container-ai"></div>#}
    <div class="ai-container-btn-new" id="ai-container-btn-new">
        <button class = "btn new" id="new">Yes, please!</button>
    </div>
    <div class="ai-container-btn-feedback" id="ai-container-btn-feedback">
        <div class = 'ai-container-btn-feedback-inner'>
            <button class="btn no" id="refuse">No.</button>
            <button class="btn yes" id="accept">Yes!</button>
        </div>
    </div>

</div>