<div class="box box-model">
    <div class="title-container">
        <div class="subtitle">Model Selection</div>
    </div>
    <div class = "note-container">
        <div class="note">
            Include a variable in the model by
            selecting it in the left box and clicking ">>".
            Exclude a variable by selecting in in the right box and clicking "<<".
{#            {%  if group_id > 0 %}#}
{#                AI would give you advice based on your selection.#}
{#            {%  endif %}#}
            Submit your final choice when you feel ready.
        </div>
    </div>
    <div class="model-container">
        <div class="model-left">
            <p style="font-size:80%">Excluded Variables</p>
            <label for="var-excluded"></label>
            <select id="var-excluded" size="5"></select>
        </div>
        <div class="arrow">
            <input type="button" id="btn-include" value="&gt;&gt;" />
            <input type="button" id="btn-exclude" value="&lt;&lt;" />
        </div>
        <div class="model-right">
            <p style="font-size:80%">Included Variables</p>
            <label for="var-included"></label>
            <select id="var-included" size="5"></select>
        </div>
    </div>
    <div class="button-submit-container">
        <form class="button-submit-form" action="{%  url 'task' user_id=user_id group_id=group_id %}" method="post" id="submit-form">
        {% csrf_token %}
        <button class="button-submit" type="submit" id="button-submit" >Submit</button>
        </form>
    </div>
</div>