{% load static %}
<div class="popup" id="ai-popup-feedback">
    <div class="ai-popup-feedback-container">
        <div class="top-container">
            <h1>Ignore assistant?</h1>
            Are you sure you want to ignore the recommendation?
        </div>
        <div class="ai-popup-feedback-container-buttons">
            <button type="submit" class="btn cancel" id="cancel-ignore">Cancel</button>
            <button type="submit" class="btn confirm" id="confirm-ignore">Yes, I want to ignore it</button>
        </div>
    </div>
</div>