<div class = "vis1-container">
    <div class = "subtitle">Variable Exploration</div>
    <div class = "note">This session is for exploring the variables. <br>
        Click the variables on the left to see the relationship between the independent
        variable X and the dependent variable Y.</div>
    <div class = "content">
        <div class="vbar"><label for="vis1-x"></label><select class="selectbox" id="vis1-x" size=8></select></div>
        <div class = "chart-c" id="chart-container"></div>
    </div>
</div>